@import "tailwindcss";

body {
  font-family: Manrope, system-ui, sans-serif;
}

/* ===== Theme (from your design system image) ===== */
:root {
  --background: #ECEEEF;
  --card: #FFFFFF;

  --primary: #007B85;
  --secondary: #5D7D81;
  --tertiary: #A15F2E;
  --neutral: #737878;

  --text: #1F1F1F;
}

@layer base {
  * {
    border-color: var(--neutral);
  }

  body {
    background: var(--background);
    color: var(--text);
  }
}